/* Enter your custom styles here */
.headerPadding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .75rem !important;
}
.borderBottom {
    background-color: #143359;
    border-radius: 10px;
}

.imgBG {
    background: #fff;
    padding-top:.25rem;
    padding-bottom:.25rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius: 10px;
}